*{
  margin: 0;
  padding: 0;
  font-family: serif;
}
table{
  width: 50%;
  margin: 40px auto;
  
  padding: 10px 15px;
}
table, th, td{
  border: 1px solid rgb(32, 32, 32);
  border-collapse: collapse;
  color: #fff;
}
th{
  font-size: 30px;
  padding: 10px 15px;
}
td{
  font-size: 25px;
  padding: 7px 12px;
  text-align: center;
}
.head{
  background-color: black;
}
tr:nth-child(odd):not(.head){
  background-color: rgb(102, 101, 101);
}
tr:nth-child(even):not(.head){
  background-color:rgb(73, 72, 72); 
}
